<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Aviso Legal</h5>
          <ul>
            <li><a href="/aviso-legal">Aviso legal</a></li>
            <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
            <li><a href="/politica-de-privacidad">Política de privacidad</a></li>
            <li><a href="/politica-de-cookies">Política de cookies</a></li>
          </ul>
        </div>
       
      </div>
    </div>
  </footer>
  