<h1>Secretario</h1>
<div class="container-fluid">
  <div class="card-body bg-dark">
    <div class="container text-center">

      <!-- Menú de botones -->
      <div class="row justify-content-between">
        <div class="col-12 col-md-4 mt-4 mb-3">
          <button type="button" class="btn btn-primary w-100 text-center" (click)="cambiarVista('cursos')">
            <img src="periodosIcon.png" class="img-fluid" width="150" alt="Cursos">
            <div>Cursos</div>
          </button>
        </div>
        <div class="col-12 col-md-4 mt-4 mb-3">
          <button type="button" class="btn btn-warning w-100 text-center" (click)="cambiarVista('alumnos')">
            <img src="alumnos.png" class="img-fluid" width="150" alt="Alumnos">
            <div>Alumnos</div>
          </button>
        </div>
        <div class="col-12 col-md-4 mt-4 mb-3">
          <button type="button" class="btn btn-primary w-100 text-center" (click)="cambiarVista('matriculas')">
            <img src="matricula.png" class="img-fluid" width="150" alt="Configuración">
            <div>Matriculas</div>
          </button>
        </div>
      </div>

      <!-- Contenido dinámico del formulario -->
      <div class="row justify-content-between">
        <div class="container-fluid">
        
          <div class="container-fluid mt-2 mb-2">

            <!-- Aquí puedes agregar más contenido si la vista seleccionada es "periodos" o "configuracion" -->
            <div *ngIf="vistaSeleccionada === 'cursos'">
              <app-formularioscursos></app-formularioscursos>
            </div>
            <!-- Mostrar el formulario solo si la vista seleccionada es "usuarios" -->
            <div *ngIf="vistaSeleccionada === 'alumnos'">
              <app-formulariousuarios></app-formulariousuarios>
            </div>
            <div *ngIf="vistaSeleccionada === 'matriculas'">
              <app-formulariosmatriculas></app-formulariosmatriculas>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
