<div class="ps-4 pe-4">
  
<!-- Párrafo inicial con imagen y sombra -->
<div class="row mb-4">
  <div class="col-12 shadow-lg rounded p-4">
    <div class="row">
      <!-- Sección de texto -->
      <div class="col-12 col-md-6 mb-4 d-flex align-items-center justify-content-center">
        <div class="card p-4 text-center w-100 border-0">
          <h1 class="text-primary mb-3">Actividades</h1>
          <p class="text-muted">
            Las actividades extracurriculares juegan un papel fundamental en el desarrollo de los jóvenes, ya que les permiten aprender nuevas habilidades, fortalecer las existentes y potenciar su crecimiento personal y social. A través de la práctica de deportes, manualidades, o artes, los jóvenes adquieren herramientas valiosas que les ayudarán en su futuro profesional y personal. Estas actividades no solo mejoran su bienestar físico, sino también su capacidad de trabajo en equipo, liderazgo, creatividad, y disciplina, elementos esenciales para enfrentar los retos de la vida.
          </p>
        </div>
      </div>

      <!-- Sección de imagen -->
      <div class="col-12 col-md-6 d-flex align-items-stretch">
        <div class="card p-4 border-0 w-100">
          <div class="card-body d-flex justify-content-center align-items-center">
            <img 
              src="logo n.png" 
              class="img-fluid rounded" 
              alt="Oratorio - Centro Juvenil Salesiano" 
              style="max-height: 350px; object-fit: cover; border: none;"
            />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-5">
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="emprendimiento.png" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Jóvenes emprendedores</h5>
          <p class="card-text">Los jóvenes emprendedores son el motor del cambio y la innovación. Con su energía, creatividad y visión, transforman ideas en oportunidades de crecimiento. Fomentar el espíritu emprendedor les permite desarrollar habilidades clave, generar empleo y contribuir al bienestar de la comunidad.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="futbol.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Fútbol</h5>
          <p class="card-text">El fútbol es una excelente herramienta para el desarrollo de los jóvenes, promoviendo el trabajo en equipo, la disciplina y el esfuerzo. A través de este deporte, los jóvenes aprenden a superar obstáculos, mejorar su condición física y fortalecer su capacidad de liderazgo. Además, fomenta la integración social y ayuda a desarrollar habilidades emocionales, como la resiliencia y el control del estrés.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded" >
        <img src="cocina.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Repostería</h5>
          <p class="card-text">La repostería es una actividad creativa que permite a los jóvenes desarrollar habilidades culinarias y artísticas. A través de la preparación de dulces y postres, aprenden sobre precisión, técnicas de cocina y trabajo en equipo. Además, fomenta la paciencia y la perseverancia, ya que cada receta requiere dedicación y tiempo. La repostería también es una excelente manera de canalizar la creatividad, y puede convertirse en una oportunidad para el emprendimiento, creando productos deliciosos que pueden ser compartidos o vendidos.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="danza.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Danza</h5>
          <p class="card-text">La danza es una disciplina que fomenta la expresión personal, la coordinación y la creatividad en los jóvenes. A través del movimiento, los jóvenes desarrollan habilidades físicas, mejoran su flexibilidad y resistencia, y aprenden a trabajar en equipo. La danza también promueve la confianza en uno mismo y el control emocional, ya que permite expresar sentimientos y emociones a través del cuerpo. Además, es una excelente forma de mejorar la disciplina, la concentración y la memoria, mientras se disfruta de la música y se adquieren nuevas habilidades artísticas.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="basquet.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Baloncesto </h5>
          <p class="card-text">El baloncesto ofrece grandes beneficios para los jóvenes, promoviendo el trabajo en equipo, la coordinación y la disciplina. A través de este deporte, los jóvenes desarrollan habilidades físicas, mejoran su agilidad y resistencia, y aprenden a tomar decisiones rápidas. Además, fomenta la confianza en uno mismo, la comunicación efectiva y el respeto por los demás. El baloncesto también ayuda a canalizar la energía de manera positiva, contribuyendo al bienestar físico y emocional.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="voleibol.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Voleibol </h5>
          <p class="card-text">El voleibol es un deporte que promueve el trabajo en equipo, la comunicación y la disciplina entre los jóvenes. Fomenta el desarrollo físico, mejorando la coordinación, la agilidad y la resistencia. Además, ayuda a fortalecer habilidades sociales, ya que involucra colaboración y respeto entre los jugadores. Practicar voleibol también contribuye a mejorar la autoestima y la confianza al alcanzar metas y superar desafíos en el campo de juego.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="pigpon.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Ping pong </h5>
          <p class="card-text">El ping pong, o tenis de mesa, es un deporte que mejora la coordinación mano-ojo y fomenta la rapidez mental y física. Ayuda a desarrollar la concentración, la agilidad y la resistencia, ya que exige movimientos rápidos y precisos. Además, promueve la socialización y el trabajo en equipo cuando se juega en dobles. Es una excelente actividad para reducir el estrés y mejorar la salud cardiovascular, mientras se divierten jugadores de todas las edades..</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="manualidades.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Manualidades</h5>
          <p class="card-text">Las manualidades son actividades creativas que permiten a los jóvenes desarrollar habilidades prácticas y artísticas. A través de ellas, pueden aprender a trabajar con diferentes materiales como papel, madera, arcilla o tela, lo que fomenta la destreza y la concentración. Además, las manualidades son una excelente forma de expresar emociones y desarrollar la imaginación. Este tipo de actividades también promueve la paciencia y la perseverancia, ya que cada proyecto requiere dedicación y tiempo. Al final, los jóvenes pueden sentirse orgullosos de sus creaciones y disfrutar del proceso de aprendizaje.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <img src="dibujo.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Dibujo</h5>
          <p class="card-text">El dibujo es una excelente actividad para los jóvenes, ya que fomenta la creatividad y la expresión personal. A través del dibujo, los jóvenes pueden desarrollar habilidades de observación, coordinación y destreza manual. Además, el dibujo les permite comunicar ideas, sentimientos y emociones de manera visual, lo que mejora su capacidad de concentración y paciencia. También es una forma terapéutica de liberar estrés y fomentar la imaginación. Con el tiempo, el dibujo puede convertirse en una herramienta poderosa para desarrollar habilidades artísticas y explorar diferentes formas de expresión visual.</p>
        </div>
      </div>
    </div>
  </div>
</div>