<div class="container-fluid">
<div class="row justify-content-center mt-5 " >
    <div class="col-6">
        <div class="card">
        <h2>Formar Buenos Cristianos y Honestos Ciudadanos al estilo de Don Bosco al estilo Salesiano</h2>
        <p for="">El Oratorio - Centro Juvenil Salesiano San José se dedica a la formación integral y sacramental de los niños, niñas y jóvenes de nuestra parroquia Rosario de Tarqui, ofreciendo catequesis, talleres asociativos, grupos juveniles denominados MJS (Movimiento Juvenil Salesiano)</p>
        <div class="card justify-content-center m-5">
            <img src="" class="d-block w-80" alt="">
          </div>
    </div>
       
    </div>
    <div class="col-5">
        <div class="card p-4">
            <div class="card-body ">
                <form class="form-control" [formGroup]="form" (ngSubmit)="submit()">
                    <h3 class="card-title">Iniciar sesion</h3>
                    <div class="mt-2">
                        <label  class="form-label">Correo:</label>
                        <input type="email" id="email" name="email" class="form-control"  formControlName = "email"/>
                        @if(isRequired('email')){
                            <small class="text-danger"> Este campo es requerido</small>
                        }
                        @if (hasEmailError()) {
                            <small class="text-danger">el email no es valido</small>
                        }

                    </div>
                    <div class=" mt-2">
                        <label  class="form-label">Contraseña:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="*******" formControlName ="password">
                        @if(isRequired('password')){
                            <small class="text-danger"> Este campo es requerido</small>
                        }    
                        
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Ingresar</button>
                    <button class="btn ms-2 mt-2 btn btn-outline-secondary" routerLink="/info/registro">Registro</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>