<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme-="dark">
  <div class="container-fluid ps-5 pe-5" >
    <a class="navbar-brand" routerLink="" >
      <img src="icon.png" alt="Logo" width="40" height="45" class="d-inline-block align-text-botton">
      Oratorio SanJose
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav nav-underline"> 
        <li class="nav-item"  *ngIf="isLoggedIn && userRole === 'alumno'" >
          <a class="nav-link" routerLink="Users/Padres" routerLinkActive="">Gestion</a>
        </li>
        <li class="nav-item"  *ngIf="isLoggedIn && userRole === 'secretario'" >
          <a class="nav-link" routerLink="Users/Secretario" routerLinkActive="">Gestion</a>
        </li>
        <li class="nav-item"  *ngIf="isLoggedIn && userRole === 'profesor'" >
          <a class="nav-link" routerLink="Users/Profesores" routerLinkActive="">Gestion</a>
        </li>
        <li class="nav-item"  *ngIf="isLoggedIn && userRole === 'administrador'" >
          <a class="nav-link" routerLink="Users/Administrador" routerLinkActive="">Gestion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="" routerLinkActive="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="info/actividades" routerLinkActive="">Actividades</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <span class="nav-link">Bienvenido, {{ user.nombre }}</span>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <button class="btn btn-success" (click)="logout()">Cerrar sesión</button>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="info/ingreso" routerLinkActive="">Ingreso</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<nav>

</nav>
<router-outlet/>
<div class="card ustify-content-center m-5" >
  <div class="card-body ">   
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
      <div class="container-fluid ps-5" >
          <a class="navbar-brand" routerLink="" >
              <img src="icon.png" alt="Logo" width="40" height="45" class="d-inline-block align-text-botton">
          
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav nav-underline">
              <li class="nav-item">
                  <a class="nav-link "  routerLink="info/informacionlegal" routerLinkActive="">informacion legal</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="info/acercade" routerLinkActive="">acerca de</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="info/contacto" routerLinkActive="">contacto</a>
              </li>
              </ul>
          </div>
          </div>
</nav>
</div>
</div>