<div class="container-fluid mt-5" style="width: 95%;">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <div class="card shadow-lg rounded p-4">
          <h3 class="text-center text-primary mb-4">Contacto</h3>
          <div class="row">
            <!-- Sección de texto -->
            <div class="col-12 col-md-6 mb-3">
              <div class="row">
                <!-- Dirección -->
                <div class="col-12 mb-3">
                  <h5><i class="fas fa-map-marker-alt"></i> Dirección</h5>
                  <p class="text-muted">
                    Avenida 108 entre calle 106 y 108, instalaciones de la Unidad Educativa Fiscomisional San José.
                  </p>
                </div>
    
                <!-- Correo -->
                <div class="col-12 mb-3">
                  <h5><i class="fas fa-envelope"></i> Correo Electrónico</h5>
                  <p class="text-muted">
                    <a href="mailto:oratorio@sanjosemanta.edu.ec" class="text-decoration-none text-muted">oratorio&#64;sanjosemanta.edu.ec</a>
                  </p>
                </div>
    
                <!-- Facebook -->
                <div class="col-12 mb-3">
                    <h5><i class="fab fa-facebook"></i> Facebook</h5>
                    <p class="text-muted">
                      <a href="https://www.facebook.com/share/15vThRsegh/" target="_blank" class="text-decoration-underline text-primary">Visita nuestra página</a>
                    </p>
                  </div>
              </div>
            </div>
    
            <!-- Mapa -->
            <div class="col-12 col-md-6 mb-3">
              <div class="card border-0 h-100">
                <div class="card-body p-0">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4519.089130252428!2d-80.71491352449661!3d-0.9542289990365601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be6b73b0629c9%3A0xc9406340e17f99f9!2sUnidad%20Educativa%20Salesiana%20%22San%20Jos%C3%A9%22!5e1!3m2!1ses-419!2sec!4v1737748844454!5m2!1ses-419!2sec" 
                          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                          width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>
  