<p>registro works!</p>
<div class="row justify-content-center mt-5 " >
    <div class="col-4">
        <div class="card">
            <div class="card-body ">
                <form action="">
                 <h3 class="card-title">Registro</h3>
                    <div>
                        <label for="form-label">Correo:</label>
                        <input type="text" class="form-control" placeholder="ingresa tu Correo">
                    </div>
                    <div>
                        <label for="form-label">Contraseña:</label>
                        <input type="text" class="form-control" placeholder="*******">
                    </div>
                    <button class="btn btn-primary mt-2">Ingresar</button>
                    <button class="btn ms-2 mt-2 btn-primary" routerLink="">Registro</button>
                </form>
            </div>
        </div>
    </div>
</div>
