<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="sj.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Nuestra institucion</h5>
        <p>La institución San José forma integralmente a sus estudiantes, promoviendo valores salesianos, excelencia académica y compromiso con la comunidad.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="niños.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Alumnos</h5>
        <p>El Centro de Oratoria San José Don Bosco transforma la vida de los jóvenes, brindándoles educación, valores y un espacio de crecimiento integral.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="miebros.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Docentes</h5>
        <p>Los docentes de la comunidad salesiana educan con amor, formando jóvenes con valores y compromiso.</p>
      </div>
    </div>
    <div class="carousel-item " data-bs-interval="2000">
      <img src="conferencia.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Capacitaciones </h5>
        <p>Los docentes salesianos se capacitan constantemente para ofrecer una educación integral basada en valores y nuevas metodologías.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="niños 2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Buenos cristianos</h5>
        <p>Los jóvenes del Centro de Oratoria San José Don Bosco fortalecen su fe y crecen como cristianos comprometidos, guiados por los valores salesianos.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="dibujo.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Comunidad</h5>
        <p>Los jóvenes del Centro de Oratoria San José Don Bosco impactan positivamente en la comunidad, promoviendo valores, servicio y solidaridad a través de su formación cristiana.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid mt-5 mb-5">
  <h1 class="card-title">Centro de oratoria san jose don Bosco</h1>
  <div class="card mt-4 mb-5">
    <div class="card-body">
      <h4>"Formar Buenos Cristianos y Honestos Ciudadanos al estilo de Don Bosco al estilo Salesiano"</h4>
      <p>El Oratorio - Centro Juvenil Salesiano San José se dedica a la formación integral y sacramental de los niños, niñas y jóvenes de nuestra parroquia Rosario de Tarqui, ofreciendo catequesis, talleres asociativos, grupos juveniles denominados MJS (Movimiento Juvenil Salesiano)</p>
    </div>
  </div>

  <!-- info -->
  <div class="d-flex flex-column justify-content-between align-items-center mb-8">
    <!-- Card de Misión (Izquierda) -->
    <div class="w-100 d-flex justify-content-start p-2 mb-4">
      <div class="card" style="width: 75%;">
        <div class="row g-0">
          <!-- Imagen de la tarjeta -->
          <div class="col-md-4 p-2 d-flex align-items-center">
            <img src="mision.jpg" class="img-fluid rounded" alt="..." style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; border-radius: 8px;">
          </div>
          <!-- Contenido de la tarjeta -->
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h5 class="card-title">Misión</h5>
              <p class="card-text">Promover el desarrollo integral de niños, adolescentes y jóvenes a través de un ambiente festivo, formativo y espiritual inspirado en los valores del Sistema Preventivo de Don Bosco, fomentando su crecimiento personal y comunitario como "buenos cristianos y honrados ciudadanos".</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card de Visión (Derecha) -->
    <div class="w-100 d-flex justify-content-end p-2 mb-4">
      <div class="card" style="width: 75%;">
        <div class="row g-0">
          <!-- Contenido de la tarjeta -->
          <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
              <h5 class="card-title">Visión</h5>
              <p class="card-text">Ser una comunidad educativa reconocida por su excelencia en la formación integral de personas que contribuyan al bienestar social, con una profunda espiritualidad y compromiso con los valores humanos y cristianos.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <!-- Imagen de la tarjeta -->
          <div class="col-md-4 p-2 d-flex align-items-center">
            <img src="vision2.jpg" class="img-fluid rounded" alt="..." style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover; border-radius: 8px;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tarjetas -->
  <h3>Actividades</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-5">
    <div class="col">
      <div class="card h-100">
        <img src="futbol.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Fútbol</h5>
          <p class="card-text">El fútbol es una excelente herramienta para el desarrollo de los jóvenes, promoviendo el trabajo en equipo, la disciplina y el esfuerzo. A través de este deporte, los jóvenes aprenden a superar obstáculos, mejorar su condición física y fortalecer su capacidad de liderazgo. Además, fomenta la integración social y ayuda a desarrollar habilidades emocionales, como la resiliencia y el control del estrés.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="cocina.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Repostería</h5>
          <p class="card-text">La repostería es una actividad creativa que permite a los jóvenes desarrollar habilidades culinarias y artísticas. A través de la preparación de dulces y postres, aprenden sobre precisión, técnicas de cocina y trabajo en equipo. Además, fomenta la paciencia y la perseverancia, ya que cada receta requiere dedicación y tiempo. La repostería también es una excelente manera de canalizar la creatividad, y puede convertirse en una oportunidad para el emprendimiento, creando productos deliciosos que pueden ser compartidos o vendidos.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="danza.jpg" class="card-img-top" alt="..." style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">Danza</h5>
          <p class="card-text">La danza es una disciplina que fomenta la expresión personal, la coordinación y la creatividad en los jóvenes. A través del movimiento, los jóvenes desarrollan habilidades físicas, mejoran su flexibilidad y resistencia, y aprenden a trabajar en equipo. La danza también promueve la confianza en uno mismo y el control emocional, ya que permite expresar sentimientos y emociones a través del cuerpo. Además, es una excelente forma de mejorar la disciplina, la concentración y la memoria, mientras se disfruta de la música y se adquieren nuevas habilidades artísticas.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Botón de Más actividades -->
  <div class="text-center mt-4">
    <a  routerLink="info/actividades" class="btn btn-primary">Más actividades</a>
  </div>
  
</div>
